<div class="giscus-container mt-10">
  <script
    src="https://giscus.app/client.js"
    data-repo="Ryan-1125/Notes-Papership"
    data-repo-id="R_kgDORrffvg"
    data-category="General"
    data-category-id="DIC_kwDORrffvs4C5TuH"
    data-mapping="title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="catppuccin_mocha"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
  </script>
</div>

<style>
  .giscus-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
</style>